<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.Face" version="1.2.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="OpenCvSharp3-AnyCPU" version="3.2.0.20170324" targetFramework="net452" />
</packages>